.main-lp-container{
  margin-top: -50px;
}

 .landing-image{
    background:url("https://images.unsplash.com/photo-1448932223592-d1fc686e76ea?ixlib=rb-0.3.5&s=990bfb15aef2718e2488c1c36452afc4&auto=format&fit=crop&w=1498&q=80") center center / cover no-repeat fixed rgba(0, 0, 0, 0.7); height:450px;
    margin-top: -20px;
    position: relative;
  }

  .pricing-panel-a{
    min-height: 450px;
    padding-top: 10px;
    /*padding-bottom: 50px;*/
    background: #1679a3;
  }

  .bottom-image{
    height:450px;
    position: relative;
    overflow: hidden;
    text-align: center;
    background: #00ff614d;
  }

  .bottom-image .background-img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
    opacity: 0.3;
    min-width: 700px;
  }

  .absolut-center{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translateY(-50%) translateX(-50%);
  }

  .max-width-500{
    max-width: 500px;
    width: 100%;
  }

  .price-tile{
    text-align: center;
    background: #f9f9f9;
    border: 2px solid #f5f5f5;
    padding: 40px 40px 50px;
    border-radius: 4px;
    margin-bottom: 40px;
    position: relative;
  }

  .price-tile .pricing-button{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateY(-50%)translateX(-50%);
    border: 1px solid;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    max-width:120px;
    width: 100%;
  }

  .pricing{
    position: relative;
    display: inline-block;
    padding-left: 20px;
  }

  .price-tile .description{
    margin-top: 20px;
  }

  .pricing .currency{
    position: absolute;
    left: 0px;
    top: -20px;
    font-size: 20px;
    color: #1679a3;
  }

  .pricing-tile .dash{
    font-size: 100px;
    color:#cecece;
    margin-top: -60px;
    margin-bottom: -30px;
  }

  .pricing .price-num{
    font-size: 50px;
  }

  .register-bttn{
    padding: 10px 40px;
    border:1px solid;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
  }

  .eee-bg-text{
    display: inline;
    background: #eee;
  }

/*Video Hero*/

.v-header{
  height:100vh;
  display:flex;
  align-items:center;
  color:#fff;
}

.container-lp{
  max-width:960px;
  padding-left:1rem;
  padding-right:1rem;
  margin:auto;
  text-align:center;
}

.fullscreen-video-wrap{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  overflow:hidden;
}

.fullscreen-video-wrap video{
  min-height:100%;
  min-width:100%;
}

.header-overlay{
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  z-index:1;
  background:#225470;
  opacity:0.85;
}

.header-content{
  z-index:2;
}

.header-content h1{
    font-weight: 900;
    font-size: 5rem;
    text-transform: uppercase;
    margin-bottom: 0;
    font-family: Roboto, sans-serif;
}

.header-content p{
    font-family: Raleway, sans-serif;
    font-size: 2rem;
    display: block;
    padding: 1rem 0 2rem 0;
}

header{
  margin:0;
  font-family: 'PT Sans', Tahoma, Geneva, Verdana, sans-serif;
  font-size:1rem;
  font-weight:normal;
  line-height:1.5;
  color:#333;
  overflow-x:hidden; 
}

.btn-frst{
    margin-left: 1.5rem;
    background: #fbc50a;
    color: #353535;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
}

.btn-frst:hover{
    margin-left: 1.5rem;
    background: #fff;
    color: #0783c7;
}

.btn-opposite{
    border: solid 2px #fbc50a;
    margin-left: 1.5rem;
    background: rgba(255, 255, 255, .02);
    color: #ffffff;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
}


.btn-opposite:hover{
    border: solid 2px white;
    margin-left: 1.5rem;
    background: rgba(255, 255, 255, .02);
    color: #ffffff;
}

.btn-reg-opposite{
    border: solid 2px #fbc50a;
    margin-left: 1.5rem;
    background: rgba(255, 255, 255, .02);
    color: #ffffff;
    font-size: 1.5rem;
    padding: 2rem 2rem;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
}

.btn-reg-opposite:hover{
    border: solid 2px white;
    margin-left: 1.5rem;
    background: rgba(255, 255, 255, .02);
    color: #ffffff;
}

#register h2{
    margin-top: 3rem;
    font-size: 3rem;
    font-family: Roboto,sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}
#register p{
    font-size: 1.7rem;
}


#register{
  height: 400px;
  color: #fff;
  background-position: right;
  background-repeat: no-repeat;
  background: linear-gradient(rgba(165, 142, 33, 0.8), rgba(22, 121, 163, .8)),url("https://images.unsplash.com/photo-1487058792275-0ad4aaf24ca7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6726719ee78dabe78033950d9f3f7145&auto=format&fit=crop&w=1500&q=80");
  background-attachment: fixed;

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
    width: 100%;
           -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;

}
.get-hired-p{
  font-size: 1.5rem;
  line-height: 1.7;
  margin-top: 1.5rem;
}
.get-hired-h3{
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0.2rem 0 0 0;
}
.course-outline{
  background: #fff;
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
}
.container-crs-outline{
    margin: 4rem 0;
}

.container-crs-outline{
    margin: 4rem 0;
}
.container-course-outline ul li {
  counter-increment: step-counter;
}

.container-course-outline ul li::before {
  content: counter(step-counter);
  margin-right: 5px;
  font-size: 80%;
  background-color: rgb(22, 121, 163);
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
}

.landing-cont-logos{
  max-width: 800px;
  height: 90px;
  margin:auto;
  margin-top: 25px;
}

.nexseed-logos figure img{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;  
}
.nexseed-logos figure:hover img{
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.custom-counter {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.custom-counter li {
  counter-increment: step-counter;
  margin-bottom: 10px;
}

.custom-counter li::before {
  content: counter(step-counter);
  margin-right: 5px;
  font-size: 80%;
  background-color: rgb(0,200,200);
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
}

.container-crs-outline .panel .panel-heading{
  background: #1679a3;
}

.container-crs-outline .panel .panel-heading h4{
  color: #fff;
}

/*.container-crs-outline .panel .panel-heading h4 i{
  color: #fbc50a;
}*/

.container-crs-outline .panel .list-group .list-group-item{
  font-size: 1.5rem;
  color: #80878a;
}

.container-crs-outline .panel .list-group .list-group-item i{
  font-size: 2rem;
  color: #48b32f;
}

.section-title{
    width: 100%;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    word-spacing: 5px;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: -2px;
    text-transform: uppercase;
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;    
}

.feature-box-style-1{
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
}

.feature-box-style-1 .feature-icon {
    float: left;
    width: 70px;
    height: 70px;
    padding: 2px;
    margin-right: 30px;
    display: inline-block;
/*    background-image: -webkit-linear-gradient(0deg, #2ecc71, #f1c40f);
    background-image: -moz-linear-gradient(0deg, #2ecc71, #f1c40f);
    background-image: -ms-linear-gradient(0deg, #2ecc71, #f1c40f);
    background-image: -o-linear-gradient(0deg, #2ecc71, #f1c40f);
    background-image: linear-gradient(90deg, #2ecc71, #f1c40f);
*/    border: 1px solid #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#2ecc71', endColorstr='#f1c40f')";
}

.feature-box-style-1 .feature-icon i {
    width: 66px;
    height: 66px;
    color: #fff;
    display: block;
    font-size: 35px;
    line-height: 66px;
    text-align: center;
    /*background-color: #ffffff;*/
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    }

.feature-box-style-1 .feature-title {
    /*color: #1e1e1e;*/
    color: #fbc50a;
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 20px;
    letter-spacing: -2px;
    text-transform: capitalize;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.feature-box-style-1 .feature-desc {
    font-weight: 300;
    margin-bottom: 0;
    padding-left: 100px;
    line-height: 1.7;
    font-size: 1.4rem;
    color: #e2e2e2;
}

.lp-photo-container{
    max-width: 960px;
    margin: auto;
    border: #fff solid 3px;
    background: #fff;
}

.lg-main-img img, .lp-imgs img {
  width: 100%;
}

.lp-imgs{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

/*Fade IN animation*/

@keyframes fadeIn{
  to{
    opacity: 1;
  }
}

.fade-in{
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}